ASEDataset\
word2vecs_models\
oldresults\
.idea\
\myword2vec134
\myword2vec134.syn0.npy
\myword2vec134.syn1neg.npy
\myword2vec226
\myword2vec226.syn0.npy
\myword2vec226.syn1neg.npy
\myword2vec236
\myword2vec236.syn0.npy
\myword2vec236.syn1neg.npy
\myword2vec237
\myword2vec237.syn0.npy
\myword2vec237.syn1neg.npy
\myword2vec323
\myword2vec323.syn0.npy
\myword2vec323.syn1neg.npy
\myword2vec463
\myword2vec463.syn0.npy
\myword2vec463.syn1neg.npy
\myword2vec622
\myword2vec622.syn0.npy
\myword2vec622.syn1neg.npy
\myword2vec793
\myword2vec793.syn0.npy
\myword2vec793.syn1neg.npy
\myword2vec844
\myword2vec844.syn0.npy
\myword2vec844.syn1neg.npy
\myword2vec956
\myword2vec956.syn0.npy
\myword2vec956.syn1neg.npy
\word2vecs_models.zip
\.idea